@import "./colors";
@import "./home.scss";

.shop-component {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .shop-hero {
    @extend .hero-section;
    justify-content: flex-start;
    min-height: max-content;

    > .form {
      width: 100%;
      // margin: 0 auto;
      display: flex;
      // align-items: flex-start;
      justify-content: flex-end;
      gap: 10px;

      > input {
        padding: 10px;
        border-radius: 5px;
        outline: none;
        border: solid 2px $c;
        width: 25%;
      }

      > button {
        font-size: 18px;
        padding: 10px 20px;
      }
    }
    > .category-tab {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      width: 80%;
      margin: 0 auto;
      padding: 10px 0;
      padding-top: 0;
      margin-top: 30px;
      &::-webkit-scrollbar {
        // width: 5px;
        height: 5px;
        display: block;
      }
      div {
        text-wrap: nowrap;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.4s ease-in-out;
        font-weight: bold;
        > img {
          width: 200px;
        }
        p {
          text-align: center;
        }

        &:hover {
          transform: scale(1.06);
        }
      }
    }
  }

  .prouduct-list-component {
    > h2 {
      text-align: center;
      font-size: 32px;
      span {
        color: $c;
      }
    }
    > div {
      padding: 10px;
      width: 80%;
      margin: 20px auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      min-height: 200px;
      max-height: 500px;
      overflow: auto;
      gap: 15px;

      .rated {
        color: $c;
      }
      .unrated {
        color: $main;
      }
    }
  }

  .productCard {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    h2 {
      font-size: 16px;
      color: $c;
    }
    svg,
    p {
      font-weight: bold;
      font-size: 14px;
    }
    img {
      width: 200px;
      border-radius: 5px;
      transition: transform 0.6s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.featured-category-section {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;

  > h2 {
    font-size: 32px;

    span {
      color: $c;
    }
  }
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  button {
    max-width: max-content;
    align-self: center;
  }
}

.featuredCategoryCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  img {
    width: 200px;
    border-radius: 5px;
    transition: transform 0.6s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
  > h2 {
    color: $c;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .shop-component {
    .shop-hero {
      @extend .hero-section;
      text-align: center;
      padding-top: 80px;
      > .category-tab {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
      }

      > .form {
        width: 80%;

        > input {
          width: 100%;
        }
      }
    }
    .prouduct-list-component {
      > h2 {
        font-size: 24px;
      }
      > div {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        .rated {
          color: $c;
        }
        .unrated {
          color: $main;
        }
      }
    }

    .productCard {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      img {
        width: 100%;
      }
    }
  }

  .featured-category-section {
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
    }
  }
}
